#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.connect {
    display: flex;
    justify-content: flex-end;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    background-color: white;
    height: 500px;
}

.add-member {
    color: black;
    background-color: white;
}

.proposals {
    background-color: red;
}
